<div class="text-white font-extrabold text-5xl pb-4 tracking-wide">
  Welcome to RDS Cinemas
</div>
<p
  class="text-white text-md text-md tracking-wide underline underline-offset-4 pb-8"
>
  Are you Excited to watch? Starts downloding the prime action movies
</p>
<div class="overflow-x-auto max-w-full">
  <table
    class="table text-white text-center text-nowrap border-separate border-spacing-4"
  >
    <thead>
      <tr>
        <th class="p-4">ID</th>
        <th class="p-4">Name</th>
        <th class="p-4">Year</th>
        <th class="p-4">IMDB</th>
        <th class="p-4">Genre</th>
        <th class="p-4">Image</th>
        <th class="p-4">Download</th>
        <th class="p-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
      <tr>
        <td class="p-4"><%= product.id %></td>
        <td class="p-4"><%= product.name %></td>
        <td class="p-4"><%= product.year %></td>
        <td class="p-4"><%= product.imdb %>/10</td>
        <td class="p-4"><%= product.genre %></td>
        <td class="p-4">
          <img
            src="<%= product.imageUrl %>"
            alt="<%= product.name %>"
            class="min-w-40 h-52 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
          />
        </td>
        <td class="p-4">
          <div class="flex flex-col gap-5">
            <a
              href="<%= product.fullhd %>"
              class="bg-red-700 hover:bg-red-800 text-white font-bold py-3 px-5 rounded-md inline-flex items-center"
            >
              <svg
                class="fill-current w-4 h-4 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
              </svg>
              <span class="text-center"><%= product.fullhdbtn %> GB - FHD</span>
            </a>
            <a
              href="<%= product.ultrahd %>"
              class="bg-red-700 hover:bg-red-800 text-white font-bold py-3 px-5 rounded-md inline-flex items-center"
            >
              <svg
                class="fill-current w-4 h-4 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
              </svg>
              <span><%= product.ultrahdbtn %> GB - UHD</span>
            </a>
          </div>
        </td>
        <td class="p-4">
          <div class="flex flex-col gap-5">
            <a
              href="/update-product/<%= product.id %>"
              class="bg-red-700 hover:bg-red-800 text-white font-bold py-3 px-5 rounded-md inline-flex items-center"
            >
              Update
            </a>
            <a
              href="/delete-product/<%= product.id %>"
              class="bg-red-700 hover:bg-red-800 text-white font-bold py-3 px-5 rounded-md inline-flex items-center"
            >
              Delete
            </a>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
